.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





*{
  font-family: "helvetica-bold";
  letter-spacing: 0.23;
}

.page {
  /* height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%; */
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out;
}

.page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  transform: translate(-100%, 0);
}

.page--prev.page-enter {
  transform: translate(100%, 0);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(100%, 0);
}

/* Nav */
.nav {
  background: rgba(0, 0, 0, .1);
  padding: 5%;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav__link {
  color: #fff;
  margin-left: .5em;
  text-decoration: none;
}

#videoCanvas {
  width:380px;
  height:742px;
}
#notification{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}